Repository KurnakovMaksim/jiraF-goal, pull requests merged in 2022-05, with the labels that each got.

#22 CodeQL
  .github/workflows/goal-codeql.yml
  ReadMe.md
Labels: feature, mvp, goal microservice, ci/cd

#23 GoalRepository
  Goal/Goal.sln
  Goal/src/jiraF.Goal.API/Contracts/IGoalRepository.cs
  Goal/src/jiraF.Goal.API/Infrastructure/Data/Repositories/GoalRepository.cs
  Goal/src/jiraF.Goal.IntegrationTests/Infrastructure/Data/Repositories/GoalRepositoryTests.cs
  Goal/src/jiraF.Goal.IntegrationTests/jiraF.Goal.IntegrationTests.csproj
  jiraF.sln
Labels: feature, mvp, goal microservice

#24 GoalController
  Goal/src/jiraF.Goal.API/Controllers/GoalController.cs
  Goal/src/jiraF.Goal.API/Infrastructure/Data/Contexts/AppDbContext.cs
  Goal/src/jiraF.Goal.API/Infrastructure/Data/TestData.cs
  Goal/src/jiraF.Goal.EndToEndTests/Controllers/GoalController.cs
Labels: feature, mvp, goal microservice

#31 LabelRepository
  Goal/src/jiraF.Goal.API/Contracts/ILabelRepository.cs
  Goal/src/jiraF.Goal.API/Infrastructure/Data/Repositories/LabelRepository.cs
  Goal/src/jiraF.Goal.IntegrationTests/Infrastructure/Data/Repositories/LabelRepositoryTests.cs
Labels: feature, mvp, goal microservice

#36 LabelController
  Goal/src/jiraF.Goal.API/Controllers/LabelController.cs
  Goal/src/jiraF.Goal.API/Infrastructure/Data/TestData.cs
  Goal/src/jiraF.Goal.EndToEndTests/Controllers/LabelControllerTests.cs
Labels: feature, mvp, goal microservice

#42 Dtos for GoalController
  Goal/src/jiraF.Goal.API/Contracts/IGoalRepository.cs
  Goal/src/jiraF.Goal.API/Controllers/GoalController.cs
  Goal/src/jiraF.Goal.API/Dtos/Goal/Add/AddRequestDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Goal/Add/AddResponseDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Goal/Get/GetResponseDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Goal/GetById/GetByIdResponseDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Goal/GoalDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Goal/Update/UpdateRequestDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Label/LabelDto.cs
  Goal/src/jiraF.Goal.API/Dtos/UserDto.cs
  Goal/src/jiraF.Goal.API/Infrastructure/Data/Repositories/GoalRepository.cs
  Goal/src/jiraF.Goal.API/Program.cs
  Goal/src/jiraF.Goal.EndToEndTests/Controllers/GoalController.cs
Labels: feature, mvp, goal microservice

#49 LabelController dtos
  Goal/src/jiraF.Goal.API/Contracts/ILabelRepository.cs
  Goal/src/jiraF.Goal.API/Controllers/LabelController.cs
  Goal/src/jiraF.Goal.API/Dtos/Label/Add/AddLabelRequestDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Label/Add/AddLabelResponseDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Label/Get/GetLabelsResponseDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Label/GetById/GetLabelByIdResponseDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Label/Update/UpdateLabelRequestDto.cs
  Goal/src/jiraF.Goal.API/Infrastructure/Data/Repositories/LabelRepository.cs
  Goal/src/jiraF.Goal.EndToEndTests/Controllers/LabelControllerTests.cs
Labels: feature, mvp, goal microservice

#52 LabelModel.Number
  Goal/src/jiraF.Goal.API/Controllers/LabelController.cs
  Goal/src/jiraF.Goal.API/Domain/LabelModel.cs
  Goal/src/jiraF.Goal.API/Infrastructure/Data/Repositories/LabelRepository.cs
  Goal/src/jiraF.Goal.IntegrationTests/Infrastructure/Data/Repositories/LabelRepositoryTests.cs
Labels: feature, mvp, goal microservice

#53 Update and rename GoalController.cs to GoalControllerTests.cs
  Goal/src/jiraF.Goal.EndToEndTests/Controllers/GoalControllerTests.cs
Labels: mvp, goal microservice, refactoring

#57 Authorization
  .github/workflows/goal-build-test.yml
  .github/workflows/goal-codeql.yml
  .github/workflows/goal-sonarcloud.yml
  Goal/src/jiraF.Goal.API/Attributes/ApiKeyAuthorizeAttribute.cs
  Goal/src/jiraF.Goal.API/Controllers/GoalController.cs
  Goal/src/jiraF.Goal.API/Controllers/LabelController.cs
  Goal/src/jiraF.Goal.API/Controllers/TestController.cs
  Goal/src/jiraF.Goal.API/Program.cs
  Goal/src/jiraF.Goal.API/Secrets/ApiKey.cs
  Goal/src/jiraF.Goal.API/jiraF.Goal.API.csproj
  Goal/src/jiraF.Goal.EndToEndTests/Attributes/ApiKeyAuthorizeAttributeTests.cs
  Goal/src/jiraF.Goal.EndToEndTests/Controllers/GoalControllerTests.cs
  Goal/src/jiraF.Goal.EndToEndTests/Controllers/LabelControllerTests.cs
  Goal/src/jiraF.Goal.EndToEndTests/jiraF.Goal.EndToEndTests.csproj
Labels: feature, mvp, goal microservice, ci/cd

#59 Docker support
  .dockerignore
  Goal/src/jiraF.Goal.API/Dockerfile
  Goal/src/jiraF.Goal.API/Properties/launchSettings.json
  Goal/src/jiraF.Goal.API/jiraF.Goal.API.csproj
Labels: feature, mvp, goal microservice, ci/cd

#61 ApiKey not provided by server check
  Goal/src/jiraF.Goal.API/Attributes/ApiKeyAuthorizeAttribute.cs
Labels: feature, mvp, goal microservice

#62 Setup independently db for tests
  Goal/src/jiraF.Goal.EndToEndTests/Attributes/ApiKeyAuthorizeAttributeTests.cs
  Goal/src/jiraF.Goal.EndToEndTests/Controllers/GoalControllerTests.cs
  Goal/src/jiraF.Goal.EndToEndTests/Controllers/LabelControllerTests.cs
  Goal/src/jiraF.Goal.EndToEndTests/jiraF.Goal.EndToEndTests.csproj
Labels: feature, mvp, goal microservice

#64 Stable memory db for release
  Goal/src/jiraF.Goal.API/Program.cs
Labels: bug, mvp, goal microservice

#67 New ctors
  Goal/src/jiraF.Goal.API/Controllers/GoalController.cs
  Goal/src/jiraF.Goal.API/Domain/Dtos/User.cs
  Goal/src/jiraF.Goal.API/Domain/GoalModel.cs
  Goal/src/jiraF.Goal.API/Dtos/Goal/Add/AddRequestDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Goal/Update/UpdateRequestDto.cs
  Goal/src/jiraF.Goal.API/Infrastructure/Data/Repositories/GoalRepository.cs
  Goal/src/jiraF.Goal.EndToEndTests/Controllers/GoalControllerTests.cs
  Goal/src/jiraF.Goal.IntegrationTests/Infrastructure/Data/Repositories/GoalRepositoryTests.cs
  Goal/src/jiraF.Goal.UnitTests/Domain/GoalModelTests.cs
Labels: feature, mvp, goal microservice

#68 Delete updating DateOfCreate
  Goal/src/jiraF.Goal.API/Infrastructure/Data/Repositories/GoalRepository.cs
Labels: bug, mvp, goal microservice

#74 SonarCloud null check for token
  .github/workflows/goal-sonarcloud.yml
Labels: feature, mvp, goal microservice, ci/cd

#77 Goal microservice startup instruction
  Goal/ReadMe.md
  ReadMe.md
Labels: documentation, mvp, goal microservice

#78 Rename goal request/response dto's
  Goal/src/jiraF.Goal.API/Controllers/GoalController.cs
  Goal/src/jiraF.Goal.API/Dtos/Goal/Add/AddGoalRequestDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Goal/Add/AddGoalResponseDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Goal/Get/GetGoalsResponseDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Goal/GetById/GetGoalByIdResponseDto.cs
  Goal/src/jiraF.Goal.API/Dtos/Goal/Update/UpdateGoalRequestDto.cs
  Goal/src/jiraF.Goal.EndToEndTests/Controllers/GoalControllerTests.cs
Labels: bug, mvp, goal microservice

#79 Start react typescript project
  jiraf-client/.gitignore
  jiraf-client/README.md
  jiraf-client/package-lock.json
  jiraf-client/package.json
  jiraf-client/public/favicon.ico
  jiraf-client/public/index.html
  jiraf-client/public/logo192.png
  jiraf-client/public/logo512.png
  jiraf-client/public/manifest.json
  jiraf-client/public/robots.txt
  jiraf-client/src/App.css
  jiraf-client/src/App.test.tsx
  jiraf-client/src/App.tsx
  jiraf-client/src/index.css
  jiraf-client/src/index.tsx
  jiraf-client/src/logo.svg
  jiraf-client/src/react-app-env.d.ts
  jiraf-client/src/reportWebVitals.ts
  jiraf-client/src/setupTests.ts
  jiraf-client/tsconfig.json
Labels: feature, mvp, spa

#83 Client SPA info to ReadMe
  ReadMe.md
Labels: documentation, feature, mvp, spa

#84 NodeJs action
  .github/workflows/client-node-js.yml
  ReadMe.md
Labels: feature, mvp, ci/cd, spa

#87 CORS
  Goal/src/jiraF.Goal.API/Program.cs
Labels: feature, mvp, goal microservice

#88 Connect goals
  .github/workflows/client-node-js.yml
  client/src/App.tsx
  jiraf-client/.env
  jiraf-client/.gitignore
  jiraf-client/README.md
  jiraf-client/package-lock.json
  jiraf-client/package.json
  jiraf-client/public/favicon.ico
  jiraf-client/public/index.html
  jiraf-client/public/logo192.png
  jiraf-client/public/logo512.png
  jiraf-client/public/manifest.json
  jiraf-client/public/robots.txt
  jiraf-client/src/App.css
  jiraf-client/src/App.test.tsx
  jiraf-client/src/App.tsx
  jiraf-client/src/components/Goal/Goal.css
  jiraf-client/src/components/Goal/IGoal.ts
  jiraf-client/src/components/Goal/index.tsx
  jiraf-client/src/index.css
  jiraf-client/src/index.tsx
  jiraf-client/src/logo.svg
  jiraf-client/src/react-app-env.d.ts
  jiraf-client/src/reportWebVitals.ts
  jiraf-client/src/setupTests.ts
  jiraf-client/tsconfig.json
Labels: feature, mvp, spa

#92 Add goal
  jiraf-client/src/App.tsx
  jiraf-client/src/components/AddGoalPanel/AddGoalPanel.css
  jiraf-client/src/components/AddGoalPanel/IAddGoalRequestDto.ts
  jiraf-client/src/components/AddGoalPanel/index.tsx
Labels: feature, mvp, spa

#93 Delete goal
  jiraf-client/src/App.tsx
Labels: feature, mvp, spa

#95 Optimize add goal
  jiraf-client/src/App.tsx
  jiraf-client/src/components/AddGoalPanel/index.tsx
  jiraf-client/src/components/Goal/index.tsx
Labels: bug, mvp, spa
