Repository KurnakovMaksim/jiraF-goal, pull requests merged in 2022-08, with the labels that each got.

#150 Real members for goals
  Goal/src/jiraF.Goal.API/Controllers/GoalController.cs
  Goal/src/jiraF.Goal.API/Infrastructure/Data/Repositories/GoalRepository.cs
  Goal/src/jiraF.Goal.API/Infrastructure/Data/TestData.cs
Labels: feature, mvp, goal microservice, member microservice

#158 Healthcheck
  Goal/src/jiraF.Goal.API/Program.cs
  Goal/src/jiraF.Goal.API/jiraF.Goal.API.csproj
  Goal/src/jiraF.Goal.EndToEndTests/PingTests.cs
Labels: feature, mvp, goal microservice

#155 #145 Word "user" renamed to "member" in all places
  Goal/src/jiraF.Goal.API/Controllers/GoalController.cs
  Goal/src/jiraF.Goal.API/Domain/Dtos/Member.cs
  Goal/src/jiraF.Goal.API/Domain/GoalModel.cs
  Goal/src/jiraF.Goal.API/Dtos/Goal/GoalDto.cs
  Goal/src/jiraF.Goal.API/Dtos/MemberDto.cs
  Goal/src/jiraF.Goal.API/Infrastructure/Data/Repositories/GoalRepository.cs
Labels: goal microservice, rejected
